In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stat

In [2]:
data = pd.read_csv('Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

# Sales before and after Digital Marketing

H0 : Mean of sales before digital marketing <= Mean of sales after digital marketing

H1 : Mean of sales before digital marketing > Mean of sales after digital marketing

In [5]:
before = data['Sales_before_digital_add(in $)']
before

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [6]:
before.mean()

149239.95454545456

In [7]:
after = data['Sales_After_digital_add(in $)']
after

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [8]:
after.mean()

231123.72727272726

In [9]:
stat.ttest_ind(before,after,alternative = 'greater' )

Ttest_indResult(statistic=-12.995084451110877, pvalue=0.9999999999999999)

Since pvalue > 0.05 we accept the null hypothesis.ie,the sales are increased after stepping into digital marketing.

# Dependency between Region and Manager

H0 : Mean of sales by regionwise <= Mean of sales by managers

H1 : Mean of sales by regionwise > Mean of sales by managers

In [11]:
data1 =data.groupby('Region').mean()

In [12]:
data1

            Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
Region
Region - A                   148204.900000                  238853.100000
Region - B                   150523.571429                  228727.857143
Region - C                   149513.000000                  219019.200000

In [13]:
data1.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                        3.000000                       3.000000
mean                    149413.823810                  228866.719048
std                       1162.512897                    9917.679127
min                     148204.900000                  219019.200000
25%                     148858.950000                  223873.528571
50%                     149513.000000                  228727.857143
75%                     150018.285714                  233790.478571
max                     150523.571429                  238853.100000

In [14]:
data2 = data.groupby('Manager').mean()
data2

             Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
Manager
Manager - A                   145875.222222                  244402.666667
Manager - B                   155499.285714                  218899.142857
Manager - C                   146984.500000                  225467.333333

In [15]:
data2.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                        3.000000                       3.000000
mean                    149453.002646                  229589.714286
std                       5265.527372                   13242.090100
min                     145875.222222                  218899.142857
25%                     146429.861111                  222183.238095
50%                     146984.500000                  225467.333333
75%                     151241.892857                  234935.000000
max                     155499.285714                  244402.666667

In [16]:
stat.ttest_ind(data1,data2,alternative = 'greater' )

Ttest_indResult(statistic=array([-0.01258449, -0.07569167]), pvalue=array([0.50471903, 0.52835055]))

pvalue > 0.05.We accept the null hypothesis.